.matches-tabs{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid lightgray;
}
.matches-tabs-panel{
    width: 30%;
    padding: 0.7rem;
    display: flex;
    cursor: pointer;
    justify-content: center;
}
.scroll-container {
    height: 80vh; /* Set a specific height */
    overflow: auto; /* Make it scrollable */
    scroll-behavior: smooth; /* Enable smooth scrolling */
}