.states-temple,
.states-business {
  display: flex;
  gap: 20px; /* Add gap between cards */
}

.state-card {
  flex: 1; /* Allow cards to grow and occupy available space */
  text-align: center;
  border-radius: 7.5px;
  min-height: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem 0;
  position: relative; /* Add position relative */
}

.state-card > p:first-child {
  font-weight: 600;
  font-size: 20px;
}

.state-card > p:last-child {
  font-size: 16px;
  font-weight: 600;
}

.state-card .bottom-buttons {
  position: absolute;
  bottom: 5px;
  left: 30; /* Align buttons to the left */
  width: 100%; /* Occupy full width of the state-card */
  display: flex;
  justify-content: space-between;
  padding: 0 110px; /* Add padding to buttons for spacing */
}

/* Adjust button styles as needed */
.state-card .bottom-buttons button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: hsl(203, 84%, 45%);
  color: #fff;
  border: none;
  cursor: pointer;
}

.ant-input-number-handler-wrap {
  display: none !important;
}
#container {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
}

.ant-menu {
  flex: 1;
}

@media screen and (max-width: 575px) {
  #dashboard-grid {
    flex-direction: column;
    padding: 1rem;
    height: 100%;
  }
  #message {
    width: 100%;  
  }
}
